__pycache__
*.so
*.o
fielddump.txt
newfielddump.txt
typedump.txt
*_info_t_dump.txt
new_info_t_dump.txt
*.sqlite
*.yaml
tool
refactor
analyze
visitor
cursor
a.out
database.out
clang_parser.out
libmemhook.so
sifter
bin
bin/
.vscode
.vscode/
malloc_type_dump.txt
fielddump.txt
typedump.txt
fileset_dump.txt
typeset_dump.txt
experimental
setbench_bk/**
setbenchbk/**