__pycache__
fielddump.txt
newfielddump.txt
typedump.txt
info_t_dump.txt
new_info_t_dump.txt
*.sqlite
tool
refactor
analyze
visitor
cursor
a.out
database.out
clang_parser.out
libmemhook.so
sifter
bin
bin/
.vscode
.vscode/
