__pycache__
*.so
*.o
fielddump.txt
newfielddump.txt
typedump.txt
*_info_t_dump.txt
new_info_t_dump.txt
*.sqlite
*.yaml
tool
refactor
analyze
visitor
cursor
a.out
database.out
clang_parser.out
libmemhook.so
sifter
bin
bin/
.vscode
.vscode/
malloc_type_dump.txt
fielddump.txt
new_field_dump.txt
typedump.txt
fileset_dump.txt
typeset_dump.txt
binary_dump.txt
type_analysis/malloc_type_dump.txt
type_analysis/fielddump.txt
type_analysis/new_field_dump.txt
type_analysis/typedump.txt
type_analysis/fileset_dump.txt
type_analysis/typeset_dump.txt
type_analysis/binary_dump.txt
experimental
setbench_bk/**
setbenchbk/**
type_analysis/.cache/**
.cache/**
sifter_vis_d3/media/
sifter_vis_d3/node_modules/
sifter_vis_d3/dist/
sifter_vis_d3/log.txt
**/binary_dump.txt
**/info_dump
**/new_field_dump.txt
