body {
    color: black;
    background-color: white;
}

rect.pageBorder {
    cursor: pointer;
    pointer-events: visible;
    stroke: black;
}

circle.toggle {
    cursor: pointer;
}

svg.cacheTab {
    cursor: pointer;
}

#memLayoutYAxisGrid line {
    pointer-events: none;
}

#dropPanels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#dropArea {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#visPanels {
    display: grid;
    grid-template-columns: 600px 350px 1fr;
    grid-template-rows: 350px 500px;
    gap: 10px;
}

.popup {
    display: none;
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: solid #ccc 1px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.changeRegion {
    fill: #c3f4e8;
    opacity: 0.1;
    pointer-events: none;
}