.inline {
    display: inline-block;
}

/* Pages and objects layout */

#pageAndObjectVis {
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#pageRowContainer {
    width: 100%;
    gap: 5px;
    overflow: auto;
}

#pageRowContainer, .pageRowLabel {
    display: flex;
    flex-direction: column;
}

.pageRowLabel {
    padding-left: 10px;
}

.pageRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

$pageCardSVGHeight: 50px;
$pageCardSVGWidth: 530px;
$pageCardBorderHeight: calc($pageCardSVGHeight - 10px);
$pageCardBorderWidth: calc($pageCardSVGWidth - 10px);
$pageCardBorderBottomHeightLow: 1px;
$pageCardBorderBottomHeightHi: 3px;

.pageCard {
    height: $pageCardSVGHeight;
    width: $pageCardSVGWidth;
}

.pageCardShadow {
    fill: rgb(167, 167, 167);
    pointer-events: none;
}

.pageCardBorder {
    height: $pageCardBorderHeight;
    width: $pageCardBorderWidth;
    rx: 4px;
    x: calc(50% - ($pageCardBorderWidth / 2));
    y: calc(50% - ($pageCardBorderHeight / 2));
    transition: all 0.1s ease;

    &:hover {
        y: calc(50% - ($pageCardBorderHeight / 2) - $pageCardBorderBottomHeightHi + $pageCardBorderBottomHeightLow);
    }
    
    &.pageCardBack {
        cursor: pointer;
        fill: #d9d9d9;
        filter: drop-shadow(0px 0px 1px rgb(14, 14, 14));
        &:hover {
            fill: #e8e8e8;
            filter: drop-shadow(0px 2px 2px rgb(14, 14, 14));
        }
        &.pageCardSelected {
            fill: #d9d9d9;
            filter: drop-shadow(0px 0px 0px rgb(14, 14, 14));
            y: calc(50% - ($pageCardBorderHeight / 2) + $pageCardBorderBottomHeightLow);

            & + g .pageCardClipGroup {
                y: calc(50% - ($pageCardBorderHeight / 2) + $pageCardBorderBottomHeightLow);
            }
        }
    }
}


/* Time line graph */

.timeGraphLine {
    fill: none;
    stroke-width: 2;
}


/* Legend */

#legendTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr fit-content(128px) 1fr;
}

#legendTable :is(thead, tbody, tfoot, tr) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 4;
}

#legendTable tbody tr {
    padding-top: 5px;
    padding-bottom: 5px;
}

#legendTable :is(th, td) {
    align-self: center;
}

#legendTable tbody {
    overflow: auto;
}

#legendTable tfoot {
    position: sticky;
    bottom: 0;
    padding-top: 15px;
}

.justifyRightTableCell {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}