/* Pages and objects vars */

$pageCardSVGHeight: 50px;
$pageCardSVGWidth: 540px;
$pageCardBorderHeight: calc($pageCardSVGHeight - 10px);
$pageCardBorderWidth: calc($pageCardSVGWidth - 10px);
$pageCardBorderBottomHeightLow: 1px;
$pageCardBorderBottomHeightHi: 3px;
$objectLayoutWidth: 300px;
$objectLayoutHeight: 300px;
$objectLayoutLabelMargin: 25px;
$pageCardBackColour: rgb(70, 70, 70);
$pageCardBackColourHover: rgb(88, 88, 88);

/* Time graph vars */

$timeGraphWidth: 640px;
$timeGraphHeight: 330px;
$timeGraphYAxisWidth: 50px;
$timeGraphXAxisHeight: 30px;
$timeGraphLineStrokeWidth: 2.5px;
$timeGraphRightPad: 10px;
$timeGraphSliderThumbHeight: 15px;
$timeGraphSliderThumbWidth: 12px;

/* General rules */

.inline {
    display: inline-block;
}

.visPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Pages and objects layout */

#pageHeaderGroup {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    width: $pageCardBorderWidth;
}

#pageSortButtons {
    margin-left: auto;
    justify-content: flex-end;
}

#pageAndObjectVis {
    width: 100%;
    height: 49.5vh;
    position: relative;
    top: 5px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: visible;
}

#pageVis {
    display: flex;
    width: 65%;
    height: 100%;
    flex-direction: column;
    overflow: visible;
}

#pageRowContainer {
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
}

#pageRowContainer, .pageRowLabel {
    display: flex;
    flex-direction: column;
}

.pageRowLabel {
    padding-left: 10px;

    & div {
        font-size: 12px;
    }
}

.pageCardDiv {
    display: inline;
    overflow: visible;
}

.pageCard {
    vertical-align: middle;
    height: $pageCardSVGHeight;
    width: $pageCardSVGWidth;
}

.pageCardShadow {
    fill: rgb(24, 24, 24);
    pointer-events: none;
}

.pageCardClipGroup {
    clip-path: view-box inset(calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2)
                                calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 + $pageCardBorderBottomHeightLow)
                                calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 )
                                round 4px);
    transition: clip-path 0.1s ease;
    // transform: translateX($timeGraphYAxisWidth);
}

.zoomedHugePageCard .pageCardClipGroup {
    clip-path: view-box inset(calc(($pageCardSVGHeight - $pageCardBorderHeight) * 2)
                                calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                calc(($pageCardSVGHeight - $pageCardBorderHeight) * 2 + $pageCardBorderBottomHeightLow)
                                calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 )
                                round 4px);
}

// The background of each page along with its shadow
.pageCardBorder {
    height: $pageCardBorderHeight;
    width: $pageCardBorderWidth;
    rx: 4px;
    x: calc(50% - ($pageCardBorderWidth / 2));
    y: calc(50% - ($pageCardBorderHeight / 2));
    transition: all 0.1s ease;

    // &:hover {
    //     transform: translateY($pageCardBorderBottomHeightLow - $pageCardBorderBottomHeightHi);
    //     // y: calc(50% - ($pageCardBorderHeight / 2) - $pageCardBorderBottomHeightHi + $pageCardBorderBottomHeightLow);
    // }
    
    &.pageCardBack {
        cursor: pointer;
        fill: $pageCardBackColour;
        filter: drop-shadow(0px 0px 1px rgb(14, 14, 14));
        &:hover {
            fill: $pageCardBackColourHover;
            filter: drop-shadow(0px 2px 2px rgb(14, 14, 14));
            transform: translateY($pageCardBorderBottomHeightLow - $pageCardBorderBottomHeightHi);

            & + g.pageCardClipGroup {
                clip-path: view-box inset(calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 + $pageCardBorderBottomHeightLow - $pageCardBorderBottomHeightHi)
                                            calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                            calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 - $pageCardBorderBottomHeightLow + $pageCardBorderBottomHeightHi)
                                            calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                            round 4px); 
            }
        }
        &.pageCardSelected {
            cursor: default;
            fill: $pageCardBackColour;
            filter: drop-shadow(0px 0px 0px rgb(14, 14, 14));
            transform: translateY($pageCardBorderBottomHeightLow);
            // y: calc(50% - ($pageCardBorderHeight / 2) + $pageCardBorderBottomHeightLow);

            & + g.pageCardClipGroup {
                clip-path: view-box inset(calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 + $pageCardBorderBottomHeightLow*2)
                                            calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                            calc(($pageCardSVGHeight - $pageCardBorderHeight) / 2 - $pageCardBorderBottomHeightLow)
                                            calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2)
                                            round 4px); 
            }
        }
    }
}

.hugePageCardBack {
    height: $pageCardBorderHeight;
    width: $pageCardBorderWidth;
    rx: 4px;
    x: calc(50% - ($pageCardBorderWidth / 2));
    y: calc(50% - ($pageCardBorderHeight / 2));
    fill: $pageCardBackColour;
    transition: all 0.2s ease;
}

.pageRow {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    overflow: visible;

    &.pageRowZoomed {
        & .pageCard {
            height: calc(4*$pageCardSVGHeight);

            & .hugePageCardBack {
                height: calc(4*$pageCardBorderHeight);
                y: calc(50% - ((4*$pageCardBorderHeight) / 2));
            }
        }
    }
}

rect.selection {
    fill: steelblue;
    cursor: default;
}

// Objects displayed in the page (top-left) view
.pageCardObject {
    height: calc($pageCardSVGHeight * 5);
    pointer-events: none;
    stroke: black;
    stroke-width: 1px;
    transform: translateX(calc(($pageCardSVGWidth - $pageCardBorderWidth) / 2));

    &.slotObject {
        stroke: none;
    }
}

.hugePageCardBack .pageCardObject {
    stroke: none;
}

.pagePerfIndicator {
    position: absolute;
    top: calc($pageCardSVGHeight / 2);
    pointer-events: none;
    transform: translate(-25%, -50%);
}

#selPageIcon {
    position: relative;
    left: 7px;
}

#objectLayoutDiv {
    position: relative;
    top: 30px;
}

#objectGroup rect, #objectGroup .objDelimLine, #objectXAxisGroup, #objectYAxisGroup, #objectYAxisGridGroup {
    transform: translate($objectLayoutLabelMargin, $objectLayoutLabelMargin);
}

#objectYAxisGridGroup {
    pointer-events: none;
    & .tick:nth-child(odd) line {
        stroke-opacity: 0.3;
    }
    & .tick:nth-child(even) line {
        stroke-opacity: 0.7;
    }
    & path {
        display: none;
    }
}

.perfHighlight {
    position: absolute;
    border: 2px dotted red;
    pointer-events: none;
    opacity: 0.0;
}

.objectPerfIndicator {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    transform: translate(calc($objectLayoutLabelMargin + $objectLayoutWidth), calc($objectLayoutLabelMargin));
}

.objectPerfIconContainer {
    pointer-events: all;
    position: relative;
    transform: translateY(-20%);

    &:hover ~ .perfHighlight {
        opacity: 1.0;
    }
}

.objDelimLine {
    stroke: #e0e0e0;
    stroke-width: 2px;
}


/* Time line graph */

#linesGroup {
    transform: translate(calc($timeGraphYAxisWidth + ($timeGraphLineStrokeWidth / 2)), -($timeGraphLineStrokeWidth / 2));
}

.timeGraphLine {
    fill: none;
    stroke-width: $timeGraphLineStrokeWidth;
    transition: stroke-width 0.1s ease;
    &:hover {
        stroke-width: 3.5px;
    }
}

#xAxisGroup {
    transform: translate($timeGraphYAxisWidth, $timeGraphHeight);
    clip-path: view-box inset(0)
}

#sliderGroup {
    width: $timeGraphWidth;
    height: $timeGraphXAxisHeight;
    transform: translate($timeGraphYAxisWidth, - calc($timeGraphXAxisHeight + 20px));
}

#yAxisGroup {
    transform: translateX($timeGraphYAxisWidth);
}

.objectBlock {
    transition: all 0.1s ease;
    & .objectBlockHovered {
        filter: drop-shadow(0px 0px 1px rgb(14, 14, 14));
        transform: translateY(-5px);
    }
}


/* Legend */

#legendTable {
    position: relative;
    top: -18px;
    display: grid;
    grid-template-columns: 55px 20px 449px 100px 100px;
    grid-template-rows: 1fr fit-content(240px) 2fr;

    &.visExpanded {
        grid-template-columns: 79px 55px 20px 370px 100px 100px;
    }
}

#legendTable :is(thead, tbody, tfoot, tr) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 5;

    &.visExpanded {
        grid-column: 1 / span 6;
    }
}

.legendColumnLabel {
    cursor: pointer;
    user-select: none;
}

.legendVisCheckboxContainer {
    display: flex;
    flex-direction: row;
}

#legendTable tbody tr {
    padding-top: 2px;
    padding-bottom: 2px;
}

#legendTable :is(th, td) {
    align-self: center;
}

#legendTable tbody {
    overflow: auto;
}

#legendTable tfoot {
    position: sticky;
    bottom: 0;
    padding-top: 15px;
}

.centerTableCell {
    display: flex;
    justify-content: center;
    padding-right: 15px;
}

.legendColourTile {
    cursor: pointer;
}


/* Settings and resample button */

#settingsButtonContainer {
    position: fixed;
    bottom: 5px;
    right: 15px;
}

#settingsPopoverContent {
    position: relative;
    margin-bottom: 20px;
    width: 40vw;
}

#settingsPopoverGridContainer {
    position: relative;
    margin-top: 20px;
}

.settingsSliderBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.settingsSlider {
    width: 150px;
}

.settingsTextLabel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cacheParamsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.resamplingButtonLoading {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* Cache layout */

#cacheSetGroup {
    display: flex;
    width: 420px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    // padding-top: 10px;
    position: absolute;
    top: 10px;
}

#cacheHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#cacheBoxesContainer {
    display: flex;
    align-items: center;
    justify-items: center;
}

